:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}



.__container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }



  .__card {
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: white;
    scroll-snap-align: start;
    transition: 0.2s;
    position: relative;

    .__title {
      font-size: 10px;
      color: gray;
    }

  }

}

.__arrows {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.__arrow {
  width: 20px;
  transition: 0.2s;
  opacity: 0.7;

  &:hover {

    opacity: 1;
  }
}

.__arrow--left .__arrow {
  transform: rotate(180deg);
}